<div class="landing-background">
</div>

<div class="container-fluid contato-outer">
    <div class="contato img-fluid">
        
        <div class="row fit-image">
            <div class="col-lg h-100 d-none d-lg-block"></div>
            <div class="col-lg h-100 ">
                <h2 class="contato-titulo">Augusto Marques</h2>
                <div class="links-container">
                    <span class="contato-links">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span class="contato-links-type">  E-mail: </span>
                        augustomarques.vg@gmail.com
                    </span>
                    <br>
                    <span class="contato-links">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span class="contato-links-type"> Telefone: </span>
                        (51) 999437038
                    </span>
                    <br>
                    <span class="contato-links">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <span class="contato-links-type"> GitHub: </span>
                        <a href="https://github.com/augusto-marques/">
                            augusto-marques
                        </a>
                    </span>
                    <br>
                    <span class="contato-links">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span class="contato-links-type"> Linkedin: </span>
                        <a href="https://www.linkedin.com/in/augusto-marques-477a481ab/">
                            augusto-marques-477a481ab
                        </a>
                    </span>
                </div>
            </div>
        
            <span class="ascii-art"></span>
            <!-- <div class="col">
                <img src="../assets/profile.jpg" id="img-profile"/>
            </div> -->
        
        </div>
    </div>


</div>

