
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Mapa</th>
        </tr>
    </thead>
    <tbody class="itinerario">
        <tr *ngFor="let iti of itinerario">
            <td>{{iti.lat}}</td>
            <td>{{iti.lng}}</td>
            <td>        
                <a (click)="verMapa(iti.lat, iti.lng)">
                    Ver Mapa
                    <span class="material-icons md-18">
                        open_in_new
                    </span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<button *ngIf="paginaCarregada" (click)="voltar()">VOLTAR</button>