/* You can add global styles to this file, and also import other style files */

.centered {
    max-width: 900px;
    margin: auto;
    margin-top: 4em;
}

.navbar {
    background-image: linear-gradient(#3D44A8, #3B4AAD);
    font-family: Quicksand;
}

.title-component {
    font-family: quicksand;
    margin-bottom: 1em;
}

.pagination-component {
    float: right;
}

.pesquisa {
    font-family:quicksand, FontAwesome
}

.back-button {
    font-family: quicksand;
    float: right;
}

.landing-background {
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 100%;
    background-color: #3D44A8;
    background-image: linear-gradient(#3D44A8, #2199E8);
    z-index: -1;
}

.landing-content {
    cursor: pointer;
    line-height: 1.5;
    margin-top: 30vh;
    text-align: center;
    font-family: quicksand;
    font-size: 1.5em;
    color: whitesmoke;
}

.landing-content span {
    display: block;
    margin-bottom: 1em;
}

.landing-content :hover {
    color: #42c5f5;
}

.landing-content :active {
    color: #2199E8;
    outline: 0;
}

.landing-content :focus {
    outline: 0;
}

.marcador-carregando {
    margin: auto;
    position: absolute;
    top: 30%; left: 0; bottom: 0; right: 0;
    font-family: quicksand;
}

@media (min-width: 576px) {
    .landing-content {
        font-size: 2em;
    }
}